*{
    font-family: sans-serif Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    background-color: black;
    color: wheat;
    float: right;
    padding: 12px 0 0 0;
}
.navbar{
    background-image: linear-gradient(to right,rgb(90, 91, 95), rgba(230, 160, 55, 0.596));
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
}
small{
    color: goldenrod;
    font-size: 30px;
}
.background{
    background-image: linear-gradient(to right,rgb(90, 91, 95), rgba(230, 160, 55, 0.596));
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background_content{
    position: absolute;
    width: 90%;
    height: 100%;
    top: 10%;
    left: 10%;
    display: flex;
    justify-content: space-between;
}

.background_content h2{
    color: white;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 40px;
    font-weight: 10px;
}
.background_content p{
    color: white;
    padding: 10px;
    font-size: 20px;
}

.background_content img{
    width: 100%;
    height: 90%;
}

/* #id, a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    float: right;
    
}
.btn{
    background: goldenrod;
    padding: 10px;
    color: white;
    width: 100px;
    border-radius: 25px;
    height: 20px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: 15px;
} */
ul{
    list-style: none;
    font-size: 20px;
}
li{
    float: left;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: whitesmoke;
}
.start_watch{
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
}
.start{
    border: 1px solid gold;
    background-color: gold;
    border-radius: 25px;
    padding: 5px 5px;
}
.start a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
.watch a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
.choose_content p{
    color: goldenrod;
    font-size: 20px;

}
.choose_content span{
    color: black;
    font-size: 50px;
}

.choose{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px 10px 20px;
}
.comfortable{
    font-size: 20px;
}
.comfortable p{
    padding-top: 10px;
}
.comfortable i{
    background-color: goldenrod;
    border-radius: 50%;
    padding: 20px;
    color: black;
    font-size: 20px;

}
.Booking{
    font-size: 20px;
}
.Booking p{
    padding-top: 10px;
}

.Booking i{
    background-color: goldenrod;
    border-radius: 50%;
    padding: 20px;
    color: black;
    font-size: 20px;
}
.snack{
    font-size: 20px; 
    
}
.snack p{
    padding-top: 10px;
}
.snack i{
    background-color: goldenrod;
    border-radius: 50%;
    padding: 20px;
    color: black;
    font-size: 20px;
}
.Access{
    font-size: 20px;
}
.Access p{
    padding-top: 10px;
}
.Access i{
    background-color: goldenrod;
    border-radius: 50%;
    padding: 20px;
    color: black;
    font-size: 20px;
}
.choose_content{
    padding: 20px 10px 5px 30px;
    margin-left: 60px;
    margin-top: 20px;
}
.master{
    background-color: white;
    
}
.history{
    background-color: dimgray;
    display: flex;
    padding-left: 100px;
}
.history_content{
    margin-left: 50px;
    margin-top: 60px;
}
.history_content h5{
    margin-left: 50px;
    color: goldenrod;
    padding-bottom: 20px;
    font-size: 20px;
}
.history_content h2{
    margin-left: 50px;
    color: whitesmoke;
    padding-bottom: 30px;
    font-size: 40px;
}
.history_content p{
    margin-left: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    color: whitesmoke;
}
.history_content div{
    margin-left: 50px;
}
.pic img{
    width: 500px;
    height: 100%;  
}
.Read a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.Read{
    border: 1px solid gold;
    background-color: gold;
    border-radius: 25px;
    padding: 5px 5px;
    margin-top: 5px;
}
.flex{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.watch{
    padding-top: 10px;
}
.various{
    background-color: white;
    padding-top: 60px;
    display: flex;
}
.product h5{
    color: goldenrod;
    font-size: 20px;
    margin-left: 80px;
    padding-bottom: 20px;
}
.product h2{
    color: black;
    font-size: 40px;
    margin-left: 80px;
    padding-bottom: 20px;
}
.product p{
    color: black;
    font-size: 20px;
    margin-left: 80px;
    padding-bottom: 20px;
}

